@charset "utf-8";
/* css */

input, textarea {
  display: block;
  width: 95%;
  margin: 1% 10px;
}

input[type="radio"] {
  width: initial;
  margin: 0.5%;
}

textarea {
  resize: none;
  overflow-y: auto;
}

input[type="submit"] {
  background-color: transparent;
  color: darkslateblue;
  border-radius: 50px;
  font-size: large;
  outline: none;
  cursor: pointer;
  border: 1px solid rgb(50, 92, 171);
  width: unset;
  padding: 5px 10px;
  margin: 2% auto 15% auto;
}

form div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.wrap {
  width: 48.7%;
  display: inline;
}

@media only screen and (max-width: 720px) {
  .wrap {
    width: 100%;
  }
}
