@charset "utf-8";
/* css */

figure {
  margin: 5% auto;
  width: 50%;
  text-align: center;
  border: 1px solid gold;
  background-color: rgba(192, 192, 192, 0.25);
}

figure img {
  width: 100%;
}

figcaption {
  padding: 5px 0;
}

@media only screen and (max-width: 992px) {
  figure {
    width: 90%;
  }
}
