<link href="css/form.css" rel="stylesheet" type="text/css" />
<form action="?" method="post">
    <fieldset>
        <legend>View Category</legend>
        <br/>
        <label for="articles">Articles</label>
        <input type="radio" id="articles" value="articles" name="resource">
        <br/>
        <label for="tools">Tools</label>
        <input type="radio" id="tools" value="tools" name="resource">
        <br/>
        <label for="all">All</label>
        <input type="radio" id="all" value="all" name="resource">
        <br/>
        <input type="submit" name="action" value="View"/>
    </fieldset>
</form>
